.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-bottom: 4px solid #686868;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
