.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.pageBtn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  color: #fbfbfb;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 768px) {
  .pageBtn {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

.pageBtn:hover:not(:disabled) {
  border-color: transparent;
  background-color: #fbfbfb;
  color: #121212;
}

.pageBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
