.container {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    padding: 40px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 22px;
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 20px;
    align-items: center;
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .title {
    font-size: 28px;
  }
}

.errorText {
  color: #e85050;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}
